# Goal: Create Customer Profiles for an LGS

In [1]:
import pandas as pd
import wrangle as w
import wrangle_profiles as wp

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

## Methodology:

1. Divide store items into categories
2. Calculate the total number of items that each customer has purchased in each category
3. Use dbscan to cluster customers and create groups based on those clusters
4. Analyze each group and develop a profiles based on that analysis

# Prepare Steps

## General

1. Read in sales data by year and merge files into one dataframe <br>
<br>
2. Remove non-payment rows <br>
<br>
3. Create datetime column and set index to the datetime column <br>
<br>
4. Delete unused columns and Rename remaining columns for ease of use <br>
<br>
5. Clean text in ID <br>
<br>
4. Clean text in net_sales and convert to int <br>
<br>
5. Clean text in cart and convert items string to a list of those items <br>
<br>
6. Fill Null values using
  * ‘unregistered’ for the id column <br>
  * ‘No-discount’ for the discount  <br>
<br>
7. Add a column for each item showing the nuber of that item bought in each transaction <br>
<br>
8. Add a column for each category of item showing the number of items bought in that catagory  <br>

## Project Specific

1. Restrict data to purchases made in 2023 <br>
<br>
2. Drop all unrelated columns <br>
<br>
3. Drop rows where id is unregistered <br>
<br>
4. Create scaled columns for each category column <br>

In [3]:
df = w.get_prepared_data()
df = wp.get_profiles_data(df)

In [4]:
df

,accessories,board_games,concessions,modeling_supplies,role_playing_games,minis_models,trading_card_games,net_sales,accessories_scaled,board_games_scaled,concessions_scaled,modeling_supplies_scaled,role_playing_games_scaled,minis_models_scaled,trading_card_games_scaled
0,0,0,0,0,0,0,1,119.99,0.00,0.000000,0.0000,0.000000,0.0,0.000000,0.013333
1,1,0,0,2,0,2,0,44.05,0.05,0.000000,0.0000,0.022222,0.0,0.064516,0.000000
2,0,1,0,0,0,0,0,59.99,0.00,0.166667,0.0000,0.000000,0.0,0.000000,0.000000
3,1,0,0,0,0,0,0,29.99,0.05,0.000000,0.0000,0.000000,0.0,0.000000,0.000000
4,1,1,0,0,0,0,0,34.98,0.05,0.166667,0.0000,0.000000,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6151,0,0,3,0,0,0,0,6.25,0.00,0.000000,0.1875,0.000000,0.0,0.000000,0.000000
6152,0,0,1,3,0,0,0,20.17,0.00,0.000000,0.0625,0.033333,0.0,0.000000,0.000000
6153,0,0,2,0,0,1,1,9.95,0.00,0.000000,0.1250,0.000000,0.0,0.032258,0.013333
6154,0,2,0,0,0,0,0,59.98,0.00,0.333333,0.0000,0.000000,0.0,0.000000,0.000000
6155,0,0,5,0,0,0,4,32.91,0.00,0.000000,0.3125,0.000000,0.0,0.000000,0.053333

In [ ]:
df.describe()

In [ ]:


to_scale_df = df[cols_to_scale]

scaler = sklearn.preprocessing.MinMaxScaler().fit(train_to_be_scaled)
    
scaled_df = scaler.transform(train_to_be_scaled)

for col in cols_to_scale:
    
    scaled_df = scaled_df.rename(columns={col: col + "_scaled"})
    
df = df.join(scaled_df)

In [ ]:

cata_df.describe()
cata_df.info()

In [ ]:
 cols_to_scale = ['accessories',
                  'board_games', 
                  'concessions', 
                  'modeling_supplies', 
                  'role_playing_games',
                  'minis_models', 
                  'trading_card_games',
                  'net_sales']

In [ ]:
from sklearn.preprocessing import MinMaxScaler

to_scale_df = df[cols_to_scale]

scaler = sklearn.preprocessing.MinMaxScaler().fit(train_to_be_scaled)
    
scaled_df = scaler.transform(train_to_be_scaled)

for col in cols_to_scale:
    
    scaled_df = scaled_df.rename(columns={col: col + "_scaled"})
    
df = df.join(scaled_df)

# Data Dictionary

Rows in the original data represent a record for each purchase made at LGS in the years 2021, 2022, and 2023. <br>
The final transformation of the data will contain columns showing the average number of purchases made by a given customer across the following categories in a given month. It will also show the average net sales (after removing discounts) for each customer for each month.


|Category|Description|Examples|
|--------|-----------|--------|
|Accessories|Items that enhance game play or are used to store game play items|Binders, Dice, Card Sleeves|
|Board Games|Self contained board games and board game expansions|Terraforming Mars, LOTR Journies in Middle Earth|
|Concessions|Food and drink items|drinks, candy|
|Minis/Models|Miniature models, contained in customizable table top minis games or sold as stand alone minis or sets of minis Does not include boardgames that contain minis|Warhammer Minis, D&D Minis|
|Modeling Supplies|Items used to enhance appearance of minis/models|Painting Supplies, Model Bases|
|Role Playing Games|Books and map packs for Role Playing Games|Dungeons and Dragons Books, Pathfinder Books|
|Trading Card Games|Cards for customizable card games|Magic, Pokemon, Yugio|

In [ ]:
df.head()

In [ ]:
from itertools import combinations


cols = ['accessories', 
        'board_games', 
        'concessions',
        'modeling_supplies', 
        'role_playing_games', 
        'minis_models',
        'trading_card_games']

combs = combinations(cols, 2)

for pair in combs:
    
    plt.scatter(df[f'{pair[0]}'], df[f'{pair[1]}'])
    
    plt.xlable(f'{pair[0]}')
    plt.ylable(f'{pair[1]}')
    
    plt.show()